* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
}

main {
  margin-top: 20px;
  display: flex;
}

.information {
  line-height: 30px;
  width: 35%;
}

.information h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.description {
  width: 65%;
}

.description h4 {
  margin-top: 15px;
}

h3 {
  margin-top: 15px;
  font-size: 15px;
  border-bottom: 1px solid #3b515f;
  padding-bottom: 5px;
  margin-right: 20px;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 12px;
  line-height: 28px;
}

.info, .link {
  display: flex;
}

.link a {
  margin-top: 16px;
  margin-left: 10px;
}

.info p {
  margin-left: 15px;
  margin-top: -5px;
}

a {
  text-decoration: none;
  color: #3b515f;
  font-size: 12px;
}

i {
  color: #3b515f;
}

h2, h3, h4 {
  color: #3b515f;
}

.profile{
  margin-top: 10px;
  background-color: #3b515f;
  color: #fff;
  padding: 20px;
}

.profile h3 {
  margin-top: -5px;
  color: #fff;
}